<div class="folder-container">
  <% if (folders && folders.length > 0) { %> <% folders.map((folder) => { %>
  <div class="folder-item">
    <p class="folder-name"><%= folder.name %></p>
  </div>
  <% }) %> <% } else { %>
  <h1>No folders available.</h1>
  <% } %>
</div>
