<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <%- include("partials/navbar") %>
      <div class="main-content">
        <h1>Log In</h1>
        <form action="/login" method="POST" class="sign-up-form">
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" required />
          <label for="username">Password:</label>
          <input type="password" name="password" id="password" required />
          <% if(message) { %>
          <div class="err"><%=message%></div>
          <% } %>
          <button type="submit" class="sign-up-btn">Log In</button>
          <div class="login">
            Need to register? <a href="/signup">Sign up here.</a>
          </div>
        </form>
      </div>
      <%- include("partials/footer") %>
    </div>
  </body>
</html>
